.privacyPage {
    margin-top: 20px;
}

@media only screen and (max-width: 3000px) {
    .privacyPage hb1 {
        font-size: 80px;
    }
}

@media only screen and (max-width: 1279px) {
    .privacyPage hb1 {
        font-size: 60px;
    }
}
@media only screen and (max-width: 768px) {

    .privacyPage hb1 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 479px) {   
    .privacyPage hb1 {
        font-size: 30px;
    }
}


@media only screen and (max-width: 3000px) {
    .howPage firstBox{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 70px;
        padding-bottom: 80px;
    }
    
    .howPage img {
        width: 100%;
    }
    
    .howPage firstBox div:first-child {
        font-size: 64px;
    }
    .howPage firstBox div:last-child {
        font-size:24px;color: #00000070;width:60%;
    }
    
    .howPage imageBox {
        position: relative;
        display: block;
        height: 658px;
        overflow: hidden;
    }

    .howPage imageContainer {
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: flex-end;
    }
    .howPage imageText {
        display: block;
        margin-left: 9.6%;
        position: absolute;
        bottom: 256px;
        width: 640px;
    }
    .howPage .villa2ImageTextColor {
        color: white;
    }

    .howPage imageHeading {
        font-size: 45px;
        display: block;
        margin-bottom: 20px;
    }
    .howPage imageSubHeading {
        font-size: 24px;
        display: block;
        color: #00000070
    }

    .howPage imageContainer img {
        width: 100%;
    }
}
@media only screen and (max-width: 1279px) {
    .howPage imageHeading {
        font-size: 40px;
    }
    .howPage imageSubHeading {
        font-size: 20px;
    }

    .howPage imageText {
        margin-left: 3.64%;
        bottom: 252px;
        width: 545px;
    }
    .howPage imageContainer img {
        width: 1280px;
    }

}
@media only screen and (max-width: 768px) {
    .howPage imageHeading {
        font-size: 30px;
    }
    .howPage imageSubHeading {
        font-size: 18px;
    }

    .howPage imageBox {
        height: 520px;
    }
    .howPage imageText {
        margin-left: 7%;
        bottom: 293px;
        width: 353px;
    }
    .howPage imageContainer img {
        width: 1012px;
    }

}

@media only screen and (max-width: 479px) {
    .howPage imageHeading {
        font-size: 30px;
    }
    .howPage imageSubHeading {
        font-size: 18px;
    }

    .howPage firstBox div:first-child {
        font-size: 30px;
    }
    .howPage firstBox div:last-child {
        font-size:18px;color: #00000070;width:90%;
    }

    .howPage imageBox {
        height: 410px;
    }
    .howPage imageText {
        margin-left: 5.88%;
        bottom: 232px;
        width: 279px;
    }
    .howPage imageContainer img {
        width: 1000px;
    }
}
