myfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: #ffffff;

    linkGroup {
        a {
            color : white;
        }
    }
}
