myheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    //border: 1px solid salmon;

    .myLogo {
        display: flex;
        @include mobile {
            flex-direction: column;
        }
    }
    @include bigscreen {
        padding: 34px 54px 18px 20px;
        height: 103px;
    }
    @include laptop {
        padding: 18px 10px 10px 8px;
        height: 62px;
    }

    @include ipad {
        padding: 12px 12px 8px 6px;
        height: 39px;
    }
    @include mobile {
        padding: 10px 8px 15px 6px;
        height: 58px;
    }
    
    .subLogoText {
        align-self: flex-end;
        @include bigscreen {
            font-size: 20px;
            margin-bottom: 6px;
        }
        @include laptop {
            font-size: 12px;
            margin-bottom: 5px;
        }
        @include ipad {
            font-size: 8px;
            margin-bottom: 3px;
        }
        @include mobile {
            display: block;
            font-size: 8px;
        }
    }

    img.logo {
        @include bigscreen {
            width: 248px;
            margin-right: 28px;
        }
        @include laptop {
            width: 149px;
            margin-right: 16px;
        }
        @include ipad {
            width: 93px;
            margin-right: 9px;
        }
        @include mobile {
            width: 93px;
            margin-right: 9px;
        }
    }
}
.headerLinkParent {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .headerLink {
        font-size: 41px;
        font-weight: lighter;
        color: black;
        &:hover {
            color: black;
            text-decoration: none;
        }

        @include bigscreen {
            font-size: 32px;
        }
        @include laptop {
            font-size: 14px;
        }
    
        @include ipad {
            font-size: 12px;
        }
        @include mobile {
            font-size: 12px;
        }        
    }
}